.container {
	max-width: 900px;
	height: 560px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	display: flex;
	flex-direction: row;
}

#left-wrapper {
	display: flex;
	flex-direction: column;
	width: 25%;
	border-right: 1px solid var(--blue-light);
	text-align: left;
	background-color: var(--main-color);
	padding: 20px 0px;
	border-top-left-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
}

.channel {
	padding: 10px 12px;
	display: flex;
	justify-content: space-between;
    align-items: center;
	color: var(--text-color);
}

.channel.active {
	background-color: var(--blue-light);
	color: var(--accent-color);
}

.channel:hover {
	background-color: var(--blue-light);
	color: var(--accent-color);
	cursor: pointer;
}

.channel .unread-messages {
	display: none;
	border-radius: 50%;
	height: 15px;
  	width: 15px;
	/* background-color: var(--main-color); */
	background-color: var(--accent-color);
}

#right-wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
	/* max-width: 80%; */
	width: 100%;
	background-color: #F6F7F9;
}

#select-channel {
	font-size: 16px;
	color: grey;
	position: relative;
	top: 50%;
}

.messages-wrapper {
	height: 80%;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
	padding: 20px 16px;
	overflow: scroll;
}

.messages-wrapper .empty {
	font-size: 16px;
	color: grey;
	position: relative;
	top: 50%;
}

.message {
	background-color: #C4D8E2;
	border-radius: 6px;
	padding: 4px 6px;
	text-align: left;
	max-width: 96%;
	color: var(--text-color);
}

.message .message-author {
	font-size: 14px;
	color: #4D85BD;
	background-image: linear-gradient(#4D85BD, var(--text-color));
	background: rgba(0, 0, 0, 0) radial-gradient(circle, #23966c, #faaa54, #e23b4a, #db0768, #360670) repeat scroll 0 0;
    background-size: 100%;
	background-clip: text;
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.message .message-content {
	font-size: 16px;
}

.message .message-timestamp {
	font-size: 14px;
	text-align: right;
}

.message.sent-by-me {
	background-color: var(--color-green);
	margin-left: auto;
}

#input-wrapper {
	display: flex;
	gap: 10px;
	margin-top: auto;
	margin-bottom: 10px;
	padding: 0 16px;
}

input {
	width: 100%;
	border: 1px solid #cacccf;
	border-radius: 4px;
	padding: 12px 8px;
	line-height: 20px;
	font-size: 14px;
}

input::placeholder {
	color: #828282;
	font-size: 14px;
	font-weight: 400;
}

.btn {
	/* padding: 20px 10px; */
	margin-left: auto;
}