/* Custom CSS for styling */
:root {
	--main-color: #D6E4EC;
	--grey-100: #F2F2F2;
	--grey-200: #E0E0E0;
	--grey-300: #D9D9D9;
	--grey-400: #333333;
	--blue-light: #E8F5FE;
	--color-green: #DCF8C6;
	--accent-color: #66B3FF;
	/* --accent-color: #4D85BD; */
	--text-color: #3A4454;
}

body {
	background-color: var(--contrast-color);
	font-family: "Mulish", sans-serif;
	font-style: normal;
}

.header {
	/* margin: 0 auto; */
	text-align: center;
	padding: 20px 0px;
}

.app-title {
	font-size: 30px;
	font-weight: 600;
	/* color: var(--main-color); */
	color: #4D85BD;
}

.btn {
	align-items: center;
	padding: 8px 12px;
	border: 1px solid var(--main-color);
	background: var(--main-color);
	border-radius: 6px;
	font-size: 16px;
	color: var(--text-color);
	font-weight: 400;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	transition: all .15s;
	overflow: hidden;
}

.btn:disabled {
	border: 1px solid var(--grey-300);
	background: var(--grey-300);
	cursor: not-allowed;
}

.btn:hover {
	background-color: var(--blue-light);
	/* color: var(--accent-color); */
}